.glyphicon-refresh-animate 
{
    animation-name: rotateThis;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

   -webkit-animation-name: rotateThis;
   -webkit-animation-duration: 2s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;

   -moz-animation-name: rotateThis;
   -moz-animation-duration: 2s;
   -moz-animation-iteration-count: infinite;
   -moz-animation-timing-function: linear;
}

@-webkit-keyframes "rotateThis" {
 from { 
        -webkit-transform: rotate( 0deg );  
    }
 to  { 
        -webkit-transform: rotate( 360deg ); 
    }
}

@-moz-keyframes "rotateThis" {
 from { 
        -webkit-transform: rotate( 0deg );  
    }
 to  { 
        -webkit-transform: rotate( 360deg ); 
    }
}


@keyframes rotateThis {
 from { 
        transform: rotate( 0deg );  
    }
 to  { 
        transform: rotate( 360deg ); 
    }
}



