<link href="/static/css/navbar-fixed-top.css" rel="stylesheet">

<div style="background-color: #2B4970;" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button"class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="color: white;" class="navbar-brand" href="http://www.fstakem.com">
                <img style="max-width:50px; margin-top: -5px; max-height=100px" src="/static/imgs/rsz_b_pixel_4.png">
            </a>
            <a style="color: white;" class="navbar-brand" href="/">IoT Platform</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="camera_menu_item"><a href="/cameras" style="color: white">Cameras</a></li>
            </ul>
        </div>
    </div>
</div>

